$brand-color: rgba(4, 104, 109, 1);
$brand-bg-color: rgba(237, 27, 54, 1);
$second-brand-color: rgba(237, 27, 54, 1);
$second-brand-bg-color: rgba(4, 104, 109, 1);
$vip-text-white: rgba(255, 255, 255, 1);
$vip-text-white-darken: lighten($vip-text-white, 10);
